In [16]:
import pandas as pd

In [17]:
products_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Products.json")
print(products_df_original.shape)
products_df = products_df_original.head(100).copy()
print(products_df.columns)
products_df

(12, 4)
Index(['ProductId', 'Name', 'ManufacturedCountry', 'WeightGrams'], dtype='object')

    ProductId      Name ManufacturedCountry  WeightGrams
0           1   Generac                  GB           55
1           2   Ambigue                  US          128
2           3    Vaguee                  CA          103
3           4   Dubioum                  PR           77
4           5     Fuzzi                  SG           83
5           6       Lax                  PK           48
6           7  Nebuloon                  CH          118
7           8  Obscurry                  AU           88
8           9   Uncerty                  GH           68
9          10  Uncleary                  PE           93
10         11     Tutti                  LI           81
11         12    Frutti                  JP          104

## Concatenating Two DataFrames Vertically

In [18]:
products_df1 = products_df.head(10).copy()

In [19]:
products_df2 = products_df.tail(10).copy()

In [20]:
combined_df = pd.concat([products_df1, products_df2], axis=0, ignore_index=True)
combined_df

    ProductId      Name ManufacturedCountry  WeightGrams
0           1   Generac                  GB           55
1           2   Ambigue                  US          128
2           3    Vaguee                  CA          103
3           4   Dubioum                  PR           77
4           5     Fuzzi                  SG           83
5           6       Lax                  PK           48
6           7  Nebuloon                  CH          118
7           8  Obscurry                  AU           88
8           9   Uncerty                  GH           68
9          10  Uncleary                  PE           93
10          3    Vaguee                  CA          103
11          4   Dubioum                  PR           77
12          5     Fuzzi                  SG           83
13          6       Lax                  PK           48
14          7  Nebuloon                  CH          118
15          8  Obscurry                  AU           88
16          9   Uncerty                  GH           68
17         10  Uncleary                  PE           93
18         11     Tutti                  LI           81
19         12    Frutti                  JP          104