# Load each JSON file into a separate DataFrame

In [ ]:
import pandas as pd

1. Load country DataFrame

In [54]:
countries_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Countries.json")
print(countries_df_original)
countries_df = countries_df_original.head(100)
countries_df_shape = countries_df.shape
print(countries_df.columns)
countries_df

    Country Currency                  Name                Region  Population  \
0        AD      EUR               Andorra        WESTERN EUROPE       71201
1        AE      AED  United Arab Emirates             NEAR EAST     2602713
2        AF      AFN           Afghanistan  ASIA (EX. NEAR EAST)    31056997
3        AG      XCD     Antigua & Barbuda   LATIN AMER. & CARIB       69108
4        AI      XCD              Anguilla   LATIN AMER. & CARIB       13477
..      ...      ...                   ...                   ...         ...
219      YE      YER                 Yemen             NEAR EAST    21456188
220      YT      EUR               Mayotte    SUB-SAHARAN AFRICA      201234
221      ZA      ZAR          South Africa    SUB-SAHARAN AFRICA    44187637
222      ZM      ZMW                Zambia    SUB-SAHARAN AFRICA    11502010
223      ZW      ZWL              Zimbabwe    SUB-SAHARAN AFRICA    12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  \
0               468                       152.1
1             82880                        31.4
2            647500                        48.0
3               443                       156.0
4               102                       132.1
..              ...                         ...
219          527970                        40.6
220             374                       538.1
221         1219912                        36.2
222          752614                        15.3
223          390580                        31.3

     Coastline (coast per area ratio)  Net migration  \
0                                0.00           6.60
1                                1.59           1.03
2                                0.00          23.06
3                               34.54          -6.15
4                               59.80          10.76
..                                ...            ...
219                              0.36           0.00
220                             49.52           6.78
221                              0.23          -0.29
222                              0.00           0.00
223                              0.00           0.00

     Infant mortality (per 1000 births)  ...  Phones (per 1000)  Arable (%)  \
0                                  4.05  ...              497.2        2.22
1                                 14.51  ...              475.3        0.60
2                                163.07  ...                3.2       12.13
3                                 19.46  ...              549.9       18.18
4                                 21.03  ...              460.0        0.00
..                                  ...  ...                ...         ...
219                               61.50  ...               37.2        2.78
220                               62.40  ...               49.7         NaN
221                               61.81  ...              107.0       12.08
222                               88.29  ...                8.2        7.08
223                               67.69  ...               26.8        8.32

     Crops (%)  Other (%)  Climate  Birthrate  Deathrate  Agriculture  \
0         0.00      97.78      3.0       8.71       6.25          NaN
1         2.25      97.15      1.0      18.96       4.40        0.040
2         0.22      87.65      1.0      46.60      20.34        0.380
3         4.55      77.27      2.0      16.93       5.37        0.038
4         0.00     100.00      2.0      14.17       5.34        0.040
..         ...        ...      ...        ...        ...          ...
219       0.24      96.98      1.0      42.89       8.30        0.135
220        NaN        NaN      2.0      40.95       7.70          NaN
221       0.79      87.13      1.0      18.20      22.00        0.025
222       0.03      92.90      2.0      41.00      19.93        0.220
223       0.34      91.34      2.0      28.01      21.84        0.179

     Industry  Service
0         NaN      NaN
1       0.585    0.375
2       0.240    0.380
3       0.220    0.743
4       0.180    0.780
..        ...      ...
219     0.472    0.393
220       NaN      NaN
221     0.303    0.671
222     0.290    0.489
223     0.243    0.579

[224 rows x 22 columns]
Index(['Country', 'Currency', 'Name', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast per area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

,Country,Currency,Name,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast per area ratio),Net migration,Infant mortality (per 1000 births),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,AD,EUR,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,...,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
1,AE,AED,United Arab Emirates,NEAR EAST,2602713,82880,31.4,1.59,1.03,14.51,...,475.3,0.60,2.25,97.15,1.0,18.96,4.40,0.040,0.585,0.375
2,AF,AFN,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,...,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
3,AG,XCD,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,...,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.220,0.743
4,AI,XCD,Anguilla,LATIN AMER. & CARIB,13477,102,132.1,59.80,10.76,21.03,...,460.0,0.00,0.00,100.00,2.0,14.17,5.34,0.040,0.180,0.780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,IN,INR,India,ASIA (EX. NEAR EAST),1095351995,3287590,333.2,0.21,-0.07,56.29,...,45.4,54.40,2.74,42.86,2.5,22.01,8.18,0.186,0.276,0.538
96,IQ,IQD,Iraq,NEAR EAST,26783383,437072,61.3,0.01,0.00,50.25,...,38.6,13.15,0.78,86.07,1.0,31.98,5.37,0.073,0.666,0.261
97,IR,IRR,Iran,ASIA (EX. NEAR EAST),68688433,1648000,41.7,0.15,-0.84,41.58,...,276.4,8.72,1.39,89.89,1.0,17.00,5.55,0.116,0.424,0.460
98,IS,ISK,Iceland,WESTERN EUROPE,299388,103000,2.9,4.83,2.38,3.31,...,647.7,0.07,0.00,99.93,3.0,13.64,6.72,0.086,0.150,0.765
99,IT,EUR,Italy,WESTERN EUROPE,58133509,301230,193.0,2.52,2.07,5.94,...,430.9,27.79,9.53,62.68,NaN,8.72,10.40,0.021,0.291,0.688

2. Load Customer DataFrame

In [55]:
customers_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Customers.json")
print(customers_df_original.shape)
customers_df = customers_df_original.head(100)
print(customers_df.columns)
customers_df

(400, 7)
Index(['CustomerId', 'Active', 'Name', 'Address', 'City', 'Country', 'Email'], dtype='object')

,CustomerId,Active,Name,Address,City,Country,Email
0,1,True,Jason Orr,Ap #387-8229 Nullam Road,Kilsyth,HN,lacus.Nulla@Classaptenttaciti.ca
1,2,True,Devin Herman,"P.O. Box 905, 9608 Etiam St.",Portici,HR,Integer.vulputate.risus@est.co.uk
2,3,True,Kennan Head,Ap #694-3226 Odio St.,Bothey,JO,ligula@porttitortellusnon.org
3,4,False,Peter Fry,Ap #378-2594 Arcu. Road,Oudegem,LR,eu@Phasellusvitaemauris.com
4,5,True,Guy Ball,418-8277 Sociis Ave,Charleville-Mu00c3u00a9ziu00c3u00a8res,TG,vestibulum.Mauris.magna@ipsumdolorsit.com
...,...,...,...,...,...,...,...
95,96,True,Nathaniel Goff,"P.O. Box 648, 4700 Ut Ave",Norfolk,DZ,ut.molestie@lobortis.co.uk
96,97,True,Caleb Rowland,479-1881 Congue Street,Oromocto,BE,Fusce.dolor@orcilacus.co.uk
97,98,True,Chaim Burke,"P.O. Box 724, 719 Quis St.",Gladstone,SH,Morbi.metus.Vivamus@fringillaDonec.com
98,99,True,Andrew Mcgee,"P.O. Box 736, 206 Odio. Rd.",Butte,LC,lorem.vitae@nislNullaeu.com
99,100,True,Drew Keith,856 Metus Rd.,Hattiesburg,IM,non.leo@magna.com

3. Load Customer DataFrame

In [56]:
orders_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Orders.json")
print(orders_df_original.shape)
orders_df=orders_df_original.head(100)
print(orders_df.columns)
orders_df

(11235, 3)
Index(['OrderId', 'CustomerId', 'Date'], dtype='object')

    OrderId  CustomerId       Date
0         1         181 2018-01-01
1         2         119 2018-01-01
2         3          69 2018-01-01
3         4         173 2018-01-01
4         5         237 2018-01-01
..      ...         ...        ...
95       96         392 2018-01-07
96       97           3 2018-01-07
97       98         346 2018-01-07
98       99          71 2018-01-07
99      100         144 2018-01-07

[100 rows x 3 columns]

4. Load Products DataFrame

In [ ]:
products_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Products.json")
print(products_df_original.shape)
products_df = products_df_original.head(100).copy()
print(products_df.columns)
products_df

### Generate new column [Price] with random values

In [ ]:
import random
random_prices_list = [round(random.uniform(450, 10000),2) for _ in range(12)]
products_df['Price'] = random_prices_list
products_df

5. Load Sales DataFrame

In [ ]:
sales_df_original = pd.read_json("D:\\datasets\\coh7\\sales-data-analysis\\Sales.json")
print(sales_df_original.shape)
sales_df = sales_df_original.head(100)
print(sales_df.columns)
sales_df

# 1. MERGING DATAFRAMES

## Analysis
- Merge sales_df with orders_df on OrderId [sales_orders_merged_df]
- Merge the result with products_df on ProductId to include product details such as price as per new column added with random values. [sales_orders_products_merged_df]
- Merge the result with customers_df on CustomerId to get customer data, including Country information. [sales_orders_products_customers_merged_df]
- Merge the result with countries_df on Country to add country names.

### Merge sales_df with orders_df

In [ ]:
sales_orders_merged_df = pd.merge(sales_df, orders_df, on="OrderId", how="left")
sales_orders_merged_df

### Merge sales_orders_merged_df with products_df

In [ ]:
sales_orders_products_merged_df = pd.merge(sales_orders_merged_df, products_df, on="ProductId", how="left")
print(sales_orders_products_merged_df.columns)
sales_orders_products_merged_df

### Merge sales_orders_products_merged_df with customers_df

In [ ]:
sales_orders_products_customers_merged_df = pd.merge(sales_orders_products_merged_df, customers_df, on="CustomerId", how="left")
sales_orders_products_customers_merged_df

# Merge sales_orders_products_customers_merged_df with countries_df to get country names

In [ ]:
# sales_orders_products_customers_countries_merged_df = pd.merge(sales_orders_products_customers_merged_df, countries_df, on="Country", how="left")
# print(sales_orders_products_customers_countries_merged_df.columns)
# sales_orders_products_customers_countries_merged_df
sales_orders_products_customers_countries_merged_df = pd.merge(
    sales_orders_products_customers_merged_df,
    countries_df,
    left_on="ManufacturedCountry",
    right_on="Country"
)
sales_orders_products_customers_countries_merged_df

## Calculating the revenue by multiplying quantity and product price

In [ ]:
sales_orders_products_customers_countries_merged_df['revenue'] = sales_orders_products_customers_countries_merged_df['Quantity'] * sales_orders_products_customers_countries_merged_df['Price']
sales_orders_products_customers_countries_merged_df

## Group by country name and sum the revenue

In [ ]:
print(sales_orders_products_customers_countries_merged_df[['Name', 'revenue']].isnull().sum())
sales_orders_products_customers_countries_merged_df['revenue'].fillna(0, inplace=False)
 
revenue_by_country = sales_orders_products_customers_countries_merged_df.groupby('Name')['revenue'].sum().reset_index()
revenue_by_country.head(3)
# revenue_by_country
# sales_orders_products_customers_countries_merged_df

## Sort by revenue for better insight

In [ ]:
revenue_by_country = revenue_by_country.sort_values(by='revenue', ascending=True)
revenue_by_country

### Total Revenue

In [ ]:
print(sales_orders_products_customers_countries_merged_df['revenue'].sum())